<!--
Diamond Android - Diamond filters for the Android platform

Copyright (c) 2013-2014 Carnegie Mellon University
All Rights Reserved.

This software is distributed under the terms of the Eclipse Public
License, Version 1.0 which can be found in the file named LICENSE.
ANY USE, REPRODUCTION OR DISTRIBUTION OF THIS SOFTWARE CONSTITUTES
RECIPIENT'S ACCEPTANCE OF THIS AGREEMENT
-->

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.cs.diamond.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
    </application>

</manifest>
